@media (min-width: 768px) {
  img.card-img {
    height: 100%;
    max-height: 300px;
    width: inherit;
  }
  .card-body {
    height: 189px;
    .company {
      align-self: flex-end;
    }
  }
}

.favorite {
  .ng-fa-icon {
    color: yellow !important;
  }
}